html, body {
  margin: 10;
  padding: 0;
}

canvas {
  display: block;
}

button {
  background-color:white;
  border: none;
  width: 10px;
  height: 10px;
  padding: 0px;
  border-radius: 2px;
}

button:hover {
  background-color: red;
}

h1 {
  color: red;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px #000000;
}
